
  .card {
    display:inline-block;
  }

  .card-body1  {
    font-size:16px;
  }
  
  
  .card-footer{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
  }
  
  .card-text{
    text-align: center;
  }
  

  .grid {
    padding: 100px;
    display:inline-block;
  } 