
   .img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
  .card {
    display:inline-block;
  }

  .card-body1  {
    font-size:16px;
  }
  
  .card-footer{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
  }
  
  .card-text{
    text-align: center;
  }

  .grid {
    padding: 5px;
    display:inline-block;
  }

  .button1  {
    font-weight:400px;
    margin: .375rem;
    text-transform: uppercase;
    border-radius: .125rem;
    padding: .84rem 2.14rem;
    font-size: 11px;
  }