
   .img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
  .card {
    display:inline-block;
  }
  
  .card-footer{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
  }
  
  .card-text{
    text-align: center;
  }

  .grid {
    padding: 5px;
    display:inline-block;
  }