.body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  .h1  {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
  }

  .brand-title{
    font-size: 25px;
    color: #43484D;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
  }

  .name-title {
    font-weight: 300;
    font-size: 40px;
    color: #43484D;
    letter-spacing: -2px;
    font-family: "Roboto",sans-serif;
  }

  
  
  .dupe-image {
    font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  
  #front {
    max-width: 100%;
    width: 1820px;
    max-height: 100%;
    height: 690px;
  }
  
  .image_product{
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;

  }
  
  a {
    color: #050505;
  }
  
  .card {
    display:inline-block;
  }
  
  .card-footer{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
  }
  
  .card-text{
    text-align: center;
  }
  
  #add-product {
    text-align: center;
    padding:10px;
  }
  
  .right  {
    text-align: right;
  }
  
  .product-detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  
  .left-side {
    width: 65%;
    position: relative;
  }
   
  .right-side {
    width: 35%;
    margin-top: 60px;
  }
  
  
  .left-side img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .line {  
    border-bottom: 1px solid #E1E8EE;
    width: 81.7%;
    margin-left:115px;
   }
  
  .product-header {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;

  }
  
  .product-header h2 {
    font-weight: 300;
    font-size: 40px;
    color: #43484D;
    letter-spacing: -2px;
  }
  
  .product-header h3 {
    font-size:25px;
    color: #43484D;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .product-header p {
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    line-height: 24px;
  }
   
  .product-body {
    margin-bottom: 30px;
    font-weight: 300;
    color: #000000;
    font-size: 16px;

  
  }
  
  .product-links {
    margin-bottom: 20px;
    display:flex;
flex-direction: row;
  }
  
  .product-links {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
    display:flex;
flex-direction: row;
  }

  .links{
display:flex;
flex-direction: row;
  }
   
  .text-left a {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .rate-link  {
    margin-left:900px;
    width: 33.33%;
    padding: 5px;
  }
  
  .add-dupe {
    width: 22%;
    padding: 5px;
  }
  
  .text-left span {
    float: right;
    width: 30%;
    padding: 5px;
  }
  
  .price {
    display: flex;
    align-items: center;
  }
  
  .price span {
    font-size: 20px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  
  .bottom {
    text-align: center;
    border-bottom: 1px solid #E1E8EE;
  }
  
  .col-md-10{
    margin-left: 100px;
  }
  
  .grid {
    padding: 100px;
    display:inline-block;
  }

  .imageProduct{
    height:100px;
    width:100px;
  }

.rating-title {
font-family: "Roboto",sans-serif !important;
text-align: center;
font-size:30px;

}

.make-font-bigger{
  font-size:14.4px;
}