.change-font{
    font-family: 'Dancing Script', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-size: 73px;
    color: #fff;
    margin-bottom: 20px;
  font-weight: 100;
  line-height: 1.4;
}




