.make-form-bigger {
    min-width: 500px;
  }

  .make-title-bigger  {
    font-size:30px;
  }

  .SignUpPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    min-width: 500px;
    min-height: 500px;
  }